@import "./styleComponents/Globals";
@import "./styleComponents/Home";
@import "./styleComponents/MenuBurger";
@import "./styleComponents/NavBar";
@import "./styleComponents/Product";
@import "./styleComponents/Summary";
@import "./styleComponents/OrdersChef";
@import "./styleComponents/DeliverWaiter";

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
} 

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans serif;
    font-size: 18px;
} 