@import "../pages/Home.scss";
@import "../components/styleComponents/MenuBurger.scss";
@import "../components/styleComponents/NavBar.scss";
@import "../components/styleComponents/Product.scss";
@import "../components/styleComponents/Summary.scss";
@import "../components/styleComponents/DeliverWaiter.scss";

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
} 

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans serif;
    font-size: 18px;
} 