.breakfast-ticket {
  width: 100%;
  height: 60%;
  border-radius: 30px;
  background-color: white;
}

.ticket-header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
  padding: 15px;
}

.input-client {
  height: 25px;
  width: 150px;
  margin-right: 15px;
  align-self: center;
}

.input-table {
  height: 25px;
  width: 70px;
  align-self: center;
}

.menu-btns-active {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-accept {
    padding: 3px;
    width: 170px;
    height: 45px;
    background: #40916C;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px #40916C;
    border-radius: 22px;
    color: #FFFFFF;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
}

.btn-accept:hover {
    background-color: #0b3f28;
    opacity: 0.9;
}

.btn-cancel {
    padding: 3px;
    width: 170px;
    height: 45px;
    background: #D0302A;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px #D62020;
    border-radius: 22px;
    color: #FFFFFF;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #720b08;
    opacity: 0.9;
}
