.home-container {
    height: 100vh;
    display: flex;
    align-items: center;
 }

.home-logo {
    display: flex;
    justify-content: flex-end;
}

.logo-queen {
    width: 80%;
    height: 80%;
}

.home-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-button {
    padding: 10px;
    width: 280px;
    height: 90px;
    left: 600px;
    top: 150px;
    font-size: 28px;
    background: $beige;
    border: 2px solid $black;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 25px;
}


@media (min-width: 768px) and (orientation: portrait) {
    .home-container {
        flex-direction: column;
        justify-content: center;
     }

    .home-logo {
        justify-content: center;
    }

    .logo-queen {
        width: 90%;
        height: 90%;
    }
  }

