.order-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2px;
  height: 165px;
  
}

.btns-menu {
  padding: 10px;
  width: 280px;
  height: 60px;
  left: 600px;
  top: 150px;
  font-size: 28px;
  @include base_buttons;

  &:hover {
    background-color: $brown;
    color: $white;
    border: 3px solid $white;
  }
}

.sub-order-btns {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1%;

  div {
    margin: 1px;
    text-align: center;
  }
}


.btns-bonus {
  padding: 5px;
  width: 190px;
  height: 45px;
  left: 600px;
  top: 150px;
  font-size: 18px;
  @include base_buttons;

  &:hover {
    background-color: $brown;
    color: $white;
    border: 3px solid $white;
  }
}


.container-menu {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 1.5%;
  margin-right: 5%;
  gap: 2em;
}

.breakfast-menu {
width: 100%;
height: 60%;
border-radius: 30px;
background-color: $white;
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: 230px;
box-shadow: 20px 20px 14px $brown;
@include scroll;
}

.breakfast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breakfast-product{
    width: 90px;
    height: 85px;
}

.btn-add {
    padding: 6px;
    background: $light-brown;
    border: 2px solid $black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    outline: none;
    cursor: pointer;
    
    &:hover {
        background-color: $brown;
        color: $white;
        border: 2px solid $white;
    }
}

 