.breakfast-ticket {
  width: 100%;
  height: 60%;
  border-radius: 30px;
  background-color: $white;
  @include scroll;
}
  
.ticket-header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
  padding: 15px;
}

.input-client {
  height: 25px;
  width: 150px;
  margin-right: 15px;
  align-self: center;
}

.input-table {
  height: 25px;
  width: 70px;
  align-self: center;
}

.menu-btns-active {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#confirm {
  @include buttons_database($green, $dark-green);
}

#cancel {
  @include buttons_database($red, $dark-red);
}
