body {
  font-family: sans serif;
  font-size: 18px;
  // background: {position: absolute; z-index:1; width: 100%; height:100%;};
}

nav {
  width: 400px;
}

.nav-toolbar {
  display: flex;
  background: #3b1c14;
  width: 100%;
  height: 80px;
  display: inline-flex;
  opacity: 0.9;
}

.nav-toolbar div {
  padding: 3px 15px;
}

.nav-order {
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-order h1 {
    width: 100%;
    font-size: 38px;
    color: #ffffff;
    margin-top: 2.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-time {
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-time h2 {
    width: 100%;
    font-size: 20px;
    margin-left: 22%;
    color: #EAE2B7;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
  width: 24%;
  margin-top: 5px;
}

.menu-burger {
  width: 8%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.menu_burger {
  position: absolute;
  left: 1.66%;
  right: 94.82%;
  top: 3%;
  bottom: 91.41%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.order-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.breakfast-btns-menu {
  padding: 10px;
  width: 280px;
  height: 60px;
  left: 600px;
  top: 150px;
  background: #f2c87b;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
}

.breakfast-btns-menu:hover {
  background-color: #3B1C14;
  color: #ffffff;
  border: 3px solid #ffffff;
}

.container-breakfast {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5%;
    gap: 2em;
 }
 
.breakfast-menu {
    width: 100%;
    height: 60%;
    border-radius: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    box-shadow: 20px 20px 14px #3B1C14;
}

.breakfast-ticket {
  width: 100%;
  height: 40%;
  border-radius: 30px;
  background-color: white;
}

// .ticket-header {
//   display: flex;
//   padding-top: 5px;
//   padding-bottom: 20px;
//   padding: 15px;
// }

// // .ticket-client {
// //   align-self: center;
// //   margin-left: 10px;
// // } 

// .input-client {
//   height: 25px;
//   width: 150px;
//   margin-right: 15px;
//   align-self: center;
//   // margin-left: 10px;
// }

// .input-table {
//   height: 25px;
//   width: 70px;
//   align-self: center;
// }

// /*
// .breakfast-ticket {
//   width: 100%;
//   height: 40%;
//   border-radius: 30px;
//   background-color: white;
//   display: grid;
//   grid-template-columns: 2fr 0.5fr 1fr 1fr;
//   grid-template-rows: 0.5fr 0.2fr 1fr 0.5fr;  
// }
// .item-client {
//   grid-column: 1/3;
//   grid-row: 1;
//   align-self: center;
//   margin-left: 10px;
// }
// .validity:invalid {
// border-bottom-color: red;
// }
// .item-time {
//   grid-column: 3/5;
//   grid-row: 1;
//   align-self: center;
// }
// .item-product {
//   justify-self: center;
//   border-bottom-style: solid;
// }
// .item-unit {
//   justify-self: center;
//   border-bottom-style: solid;
// }
// .item-price {
//   grid-column: 3/5;
//   justify-self: center;
//   border-bottom-style: solid;
// }
// .item-total {
//   grid-column: 1;
//   grid-row: 4;
//   margin-left: 10px;
// }
// .item-total-price {
//   grid-column: 3/5;
//   grid-row: 4;
//   justify-self: center;
// }
// */

// .breakfast-btns {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 20px;
// }

// .btn-accept {
//     padding: 3px;
//     width: 170px;
//     height: 45px;
//     background: #40916C;
//     border: 1px solid #FFFFFF;
//     box-shadow: 0px 4px 4px #40916C;
//     border-radius: 22px;
//     color: #FFFFFF;
//     text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
//     outline: none;
//     cursor: pointer;
// }

// .btn-accept:hover {
//     background-color: #0b3f28;
//     opacity: 0.9;
// }

// .btn-cancel {
//     padding: 3px;
//     width: 170px;
//     height: 45px;
//     background: #D0302A;
//     border: 1px solid #FFFFFF;
//     box-shadow: 0px 4px 4px #D62020;
//     border-radius: 22px;
//     color: #FFFFFF;
//     text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
//     outline: none;
//     cursor: pointer;
// }

// .btn-cancel:hover {
//     background-color: #720b08;
//     opacity: 0.9;
// }

//   // .btn-counters {
// //     padding: 10px;
// //     background-color: #ffffff;
// //     border: none;
// //     outline: none;
// //     cursor: pointer;
// // }
